/* App.css or Home.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  section {
    margin: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    header {
      font-size: 1.5em;
    }
  
    section {
      margin: 10px;
    }
  }
  
