.row {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 0 4rem;
    max-width: 100%;
    --bs-gutter-x: 0;
}
  
.row input{
    /* width: 80%; */
    box-sizing: border-box;
    border: none;
    font-size: 1.2rem;
    padding: 0 1rem 0.7rem 1rem;
    /* padding-bottom: 1rem; */
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
}
  
.row input:focus{
     box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
     outline: none;
}
  
.row input::-webkit-input-placeholder{
    opacity: 1;
    transition: opacity 0.25s ease-out;
}
  
.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
    opacity: 0;
}
  
.row label{
    align-self: start;
    padding-bottom: 0.5rem;
    color: rgba(187,187,187,0.9);
}