

.header {
  margin: 2em 0 2em 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid;
}

.header a {
  margin : 0 1em 0 1em;
  font-size: 1.2em;
  text-decoration: none;
}
.content {
  /* margin-left: 2em; */
  font-size: 1.5em;
}

body{
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  font-family: 'open sans', sans-serif;

}

html{
  font-size: 65%;
}
