 /*Home.css*/

  .homeHeader {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .homeServices {
    margin-bottom: 0px;
  }
  
  .button-64 {
    margin-top: 80px;
    margin-left: 570px;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }

  .button-64:active,
  .button-64:hover {
    outline: 0;
  }

  .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .button-64:hover span {
    background: none;
  }
  .homeH1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif; 
    font-size: 6rem;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
    margin-top: 0px;
    text-Indent: -350px;
    margin-Left: 100px;
    font-size: 3em;
  }
  .homeH2 {
    color: #333;
  }
  
  .homeFooter {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px ;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
